.bg-park-blue {
  background-color: #159fbb;
}
.bg-tag-green {
  background-color: #86c6c1;
}
.changa {
  font-family: 'Changa', sans-serif;
}
.button {
  margin-left: -0.27rem;
  margin-right: -0.901rem;
  /* padding-bottom: 2rem; */
}
.form {
  margin-top: -0.15rem;
}

.grid {
  display: grid;
}

.max-height-45 {
  max-height: 45vh;
}

.rating {
  float: left;
}

@media screen and (min-width: 30em) {
  .pt22-ns {
    padding-top: 0.7rem;
  }
  .vh-40-ns {
    height: 40vh;
  }
}
